.home-encabezado {
  text-align: center;
  
  font-family: Arial, sans-serif;
}

.home-title {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}



.home-logo {
  width: 200px;
  margin-bottom: 2rem;
}

.home-button-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.home-button {

  background-color: #8f8f8f;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
