.tijeras-container {
  position: relative;
  top: -125px; /* para que se superponga al Hero */
  display: flex;
  justify-content: center;
  margin: 0;
}

.tijeras-container img {
  max-width: 100%;
}
