.searchSection {
  background-image: url("./../background1.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4rem 1rem;
  text-align: center;
  height: 130vh;
}

.searchTitle {
  font-size: 2rem;
  color: #000000;
  margin-bottom: 1.5rem;
}

.searchForm {
  display: flex;
  gap: 0.5rem;
}

.searchInput {
  padding: 0.75rem 1rem;
  border-radius: 9999px;
  border: none;
  width: 300px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  outline: none;
}

.searchButton {
  background-color: #e75ec0;
  color: white;
  border: none;
  padding: 0.7rem 1rem;
  height: fit-content;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s ease;
}

.searchButton:hover {
  background: #d14aae;
}

.sugerencias {
  list-style: none;
  margin-top: -10px;
  margin-right: 3rem;
  padding: 0;
  width: 300px;
  background: #f4f4f4;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.sugerencias li {
  padding: 0.5rem;
  cursor: pointer;
}

.sugerencias li:hover {
  background: #f0f0f0;
}





.sliderWrapper > * {
  position: relative;
  z-index: 1;
}

@media (max-width: 768px) {
  .searchSection {
    height: auto;
    padding: 3rem 1rem;
    background-image: url("./../background.png");
  }

  .searchTitle {
    font-size: 1.5rem;
  }

  .sliderWrapper {
    padding: 3rem 1rem;
  }
}

@media (max-width: 600px) {
  .searchSection {
    height: auto;
    padding: 2rem 1rem;
    background-image: url("./../background.png");
  }
  .searchForm {
    flex-direction: column;
    width: 100%;
  }
  .searchInput {
    width: 100%;
  }
  .sugerencias {
    width: 100%;
    margin-right: 0;
  }
  .sliderWrapper {
    padding: 2rem 1rem;
  }
}
